@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-Black.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-BlackItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-Thin.ttf');
  font-weight: 200;
}

@font-face {
  font-family: 'Google Sans';
  src: url('../fonts/ProductSans-ThinItalic.ttf');
  font-weight: 200;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Google Sans', system-ui, sans-serif;
  }
}
