@import url('https://fonts.cdnfonts.com/css/helvetica-2');

@import './utils/icons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Helvetica', system-ui, sans-serif;
    @apply text-black;
  }
}

@layer components {
  .c-transition {
    @apply transition-all ease-in-out duration-300;
  }
  .c-title-breadcrumb {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-xl md:text-6xl text-white uppercase text-center;
  }
}
#nav-sp.active {
  left: 0;
}

.transition-header {
  transition: 0.3s ease;
}
