extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content
  .absolute.w-full.h-full.top-0.flex.items-center.z-10
    .container
      h2.text-5xl.text-center.font-bold.py-3 404
      .text-center.text-2xl PAGE NOT FOUND!
      .text-center.mt-3.text-xl The page you are looking for doesn't exist or an other error occurred.
      .text-center.mt-3
        a.text-lg.underline.text-blue-600(href='/') Back to home
