extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content
  include /components/breadcrumb
  +breadcrumb('news', 'banner02.png')

  .container
    .my-14
      h3.text-2xl.font-semibold Asong Invest, Noble và PVCB Capital ký kết MOU về Quỹ năng lượng tái tạo
      span.flex.items-center.my-3
        i.icon.icon-calendar_today.mr-3
        span 23/06/2023

      .mx-auto(class='md:w-3/4')
        img.object-cover.c-transition.w-full(
          src='assets/images/news/news-1.2.png',
          alt='Tran Quang Vinh (PV Capital) and Sung Seung Hoon (Asong Invest) at the MoU. Photo courtesy of Asong.'
        )

      p.my-5.font-semibold Ngày 23/6/2023, tại Hà Nội, công ty TNHH Asong Invest (viết tắt là Asong Invest), công ty TNHH Noble (Việt Nam) (viết tắt là Noble) và công ty Cổ phần Quản lý Quỹ Ngân hàng TMCP Đại chúng Việt Nam (viết tắt là PVCB Capital) đã ký kết biên bản ghi nhớ về hợp tác chung trong việc thành lập "Quỹ đầu tư tăng trưởng xanh PV-Asong".

      p.mb-5 Sự kiện diễn ra trong khuôn khổ chuyến thăm chính thức cấp nhà nước của tổng thống Hàn Quốc Yoon Suk-yeol tới Việt Nam theo lời mời của Chủ tịch nước Việt Nam Võ Văn Thưởng từ ngày 22 đến 24/6,

      p.mb-5 Thông qua việc ký kết biên bản ghi nhớ này, các bên đồng ý cùng nhau hợp tác nhằm thúc đẩy cơ hội đầu tư cho các nhà đầu tư Hàn Quốc tại Việt Nam, cũng như các nhà đầu tư Việt Nam trên thị trường Hàn Quốc.
