<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="bg-background-secondary">
    <%= require('html-loader!../components/header.html').default %>

    <h1 class="font-bold text-primary text-h1">Hello world 123456!</h1>
    <img src="assets/images/logo.svg" alt="logo" />
    <i class="icon icon-facebook"></i>

    <%= require('html-loader!../components/footer.html').default %>
  </body>
</html>
