extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content
  include /components/breadcrumb
  +breadcrumb('news', 'banner02.png')

  .container
    .my-14
      h3.text-2xl.font-semibold Quỹ đầu tư giá trị Nemo - PVcom hoàn thành vòng gọi vốn ban đầu

      span.flex.items-center.my-3
        i.icon.icon-calendar_today.mr-3
        span 22/02/2022

      .mx-auto(class='md:w-3/4')
        img.object-cover.c-transition.w-full(
          src='assets/images/news/news-6.1.png',
          alt='The capital contribution signing ceremony between PVCB Capital and Nemo Partners. Photo by PVCB Capital.'
        )

      p.my-5 Quỹ đầu tư giá trị Nemo - PVcom Merit Fund (NPMF) đã chính thức hoàn thành vòng gọi vốn ban đầu, đồng thời đặt mục tiêu huy động nguồn vốn lên tới 20 – 50 triệu USD từ các Nhà đầu tư Quốc tế trong năm 2022 và 2023.

      p.mb-5 Ngày 21/2/2022, Ủy Ban Chứng khoán Nhà Nước đã cấp Giấy chứng nhận đăng ký lập Quỹ thành viên cho Quỹ đầu tư Giá trị Nemo-PVcom Merit Fund (NPMF). Các thành viên sáng lập của NPMF gồm Công ty CP Quản lý Quỹ Ngân hàng TMCP Đại Chúng Việt Nam (PVCB Capital), Công ty TNHH tư vấn và đầu tư Nemo Partner Việt Nam, và các nhà đầu tư quốc tế khác. PVCB Capital, một đơn vị thành viên của Ngân hàng TMCP Đại chúng Việt Nam, có Quy mô tài sản quản lý xấp xỉ 800 triệu USD, cung cấp đa dạng các dịch vụ tư vấn đầu tư, quản lý quỹ đầu tư và quản lý danh mục đầu tư cho các khách hàng trong và ngoài nước. Nemo Partner Việt Nam là một thành viên của Nemo Partners, một trong những công ty tư vấn và đầu tư lớn nhất Hàn Quốc. Quỹ NPMF được điều hành và quản lý bởi các chuyên gia giàu kinh nghiệm của PVCB Capital.

      p.mb-5 Mục tiêu của Quỹ là tạo ra mức lợi nhuận ổn định, cạnh tranh so với thị trường từ việc đầu tư và kinh doanh đa dạng các loại hình tài sản, trong đó tập trung vào các sản phẩm có thu nhập cố định như trái phiếu doanh nghiệp bất động sản, hạ tầng, năng lượng xanh, có tài sản đảm bảo, bảo lãnh thanh toán, trái phiếu Chính phủ, chứng chỉ tiền gửi của các định chế tài chính…

      p.mb-5 NPMF có Vốn điều lệ khi thành lập là 51 tỷ đồng (2.2 triệu USD) và đặt mục tiêu kêu gọi thêm 20 – 50 triệu USD từ các nhà đầu tư tại thị trường Hàn Quốc, Singapore, Việt Nam trong năm 2022 và 2023.

      p.mb-5 Trên cơ sở hợp tác chiến lược và những thành công đã đạt được trong hoạt động ủy thác quản lý danh mục đầu tư và thành lập các quỹ đầu tư, PVCB Capital và Nemo Partner đang tiếp tục nghiên cứu thành lập các Quỹ đầu tư mới với mục tiêu đầu tư vào lĩnh vực bất động sản và năng lượng, tối ưu nguồn lực sẵn có của các Bên trong tương lai.

      .text-xl.font-semibold.pb-4.border-b-2 Other News
      section.grid.grid-cols-1.gap-5.my-8(class='md:grid-cols-2 lg:grid-cols-3 md:gap-10')
        - var articleType2List = [{ title:'Vietnamese athletes to get $1M bonus for Olympic gold medal', link:'vietnamese-athletes-to-get-1m-bonus-for-olympic-gold-medal.html', desc: 'ny Vietnamese athlete winning a gold medal at the 2024 Olympic Games in France will get a bonus of $1 million.', image: 'assets/images/news/news-4.1.png', date: '02/02/2023'},{ title:'International Sports Strategy Foundation, Vietnam Olympic Committee collaborate in training', link:'international-sports-strategy-foundation-vietnam-olympic-committee-collaborate-in-training.html', desc: 'The International Sports Strategy Foundation (ISF) will open an office in Vietnam, with assistance from Gemopia Investment Group, to boost sport training with Vietnam Olympic Committee.', image: 'assets/images/news/news-3.1.png', date: '09/12/2022'},{ title:'Nemo Partners introduces Korean spiritual gastronomy featuring revered chef Jeong Kwan', link:'nemo-partners-introduces-korean-spiritual-gastronomy-featuring-revered-chef-jeong-kwan.html', desc: 'Culinary guide So Yeon Kim, Director at Nemo Partners, introduced the third year of Korean Gastronomy Week in Hanoi, in collaboration with the "Philosopher Chef" Jeong Kwan.', image: 'assets/images/news/news-5.1.png', date: '29/10/2022'}]
        each item in articleType2List
          include /components/article-type2
          +articleType2(item.title, item.image, item.desc, true, item.link, item.date)
