extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content
  include /components/breadcrumb
  +breadcrumb('news', 'banner02.png')

  .container
    .my-14
      h3.text-2xl.font-semibold Vietnamese athletes to get $1M bonus for Olympic gold medal
      span.flex.items-center.mt-3
        i.icon.icon-calendar_today.mr-3
        span 02/02/2023

      .mx-auto(class='md:w-3/4')
        img.object-cover.c-transition.w-full(
          src='assets/images/news/news-4.1.png',
          alt='The design for the gold medal of 2024 Paris Olympic Games. Photo by International Olympic Committee'
        )
        p.mb-5.bg-gray-100.p-2 The design for the gold medal of 2024 Paris Olympic Games. Photo by International Olympic Committee

      p.my-5 Any Vietnamese athlete winning a gold medal at the 2024 Olympic Games in France will get a bonus of $1 million.

      p.mb-5 Silver and bronze medalists will get $500,000 and $200,000.

      p.mb-5 The bonuses result from a deal signed by the Vietnam Olympic Committee (VOC) and a strategic partner of the International Sports Funding & Support Association (ISF) in South Korea that will sponsor the entire amount.

      p.mb-5 VOC General Secretary Tran Van Manh said at the signing ceremony on Wednesday: "Athletes will also get a bonus from the government. We will keep looking for sponsors to increase the bonus."

      p.mb-5 For the 2020 Olympics, Vietnam announced bonuses of $80,000, $51,000 and $27,300 for gold, silver and bronze medalists.

      p.mb-5 Singapore paid $738,000 to its gold medalist, while Indonesia, Malaysia and the Philippines paid $346,000, $237,000 and $200,000.

      p.mb-5 Shooter Hoang Xuan Vinh, who won the a gold and a silver medal at the 2016 Rio Olympics, received VND180 million ($7,675) from the government though bonuses from others took the total amount to nearly VND5 billion ($213,220).

      p.mb-5 Only four Vietnamese athletes have won medals at the Olympics. Before Xuan Vinh, Tran Hieu Ngan had won a silver in taekwondo at the 2000 Sydney Olympics, Hoang Anh Tuan brought home a silver in weightlifting in 2008 from Beijing and Tran Le Quoc Toan got another silver at the 2012 London games.

      p.mb-5 Under the agreement between VOC and ISF, Vietnamese athletes and teams will go to South Korea for training and vice versa, and the two sides will exchange experts and coaches.

      p.mb-5 ISF also plans to assist Vietnam with developing Winter Olympics sports.

      p.mb-5 Director General of the Vietnam Sports Administration, Dang Ha Viet, said: "In the agreement signed with ISF, around 100 Vietnamese athletes will train in South Korea, with the focus on weightlifting, shooting, table tennis, and skating – a Winter Olympics sport."

      p.mb-5 This year Vietnam will compete in two major events, the SEA Games in Cambodia in May and the Asian Games in China in September.

      p.mb-5 The 2024 Olympic Games will be held next year in Paris from July 26 to August 11.

      .text-xl.font-semibold.pb-4.border-b-2 Other News
      section.grid.grid-cols-1.gap-5.my-8(class='md:grid-cols-2 lg:grid-cols-3 md:gap-10')
        - var articleType2List = [{ title:'Nemo Partners introduces Korean spiritual gastronomy featuring revered chef Jeong Kwan', link:'news/nemo-partners-introduces-korean-spiritual-gastronomy-featuring-revered-chef-jeong-kwan.html', desc: 'Culinary guide So Yeon Kim, Director at Nemo Partners, introduced the third year of Korean Gastronomy Week in Hanoi, in collaboration with the "Philosopher Chef" Jeong Kwan.', image: 'assets/images/news/news-5.1.png', date: '29/10/2022'},{ title:"Nemo-PVcom Merit Fund eyes int'l investors", link:'news/nemo-pvcom-merit-fund-eyes-int-l-investors.html', desc: 'Nemo-PVcom Merit Fund (NPMF) has completed its initial round of funding, aiming to up figures in 2022 and 2023 via global investors.', image: 'assets/images/news/news-6.1.png', date: '23/02/2022'},{ title:'Quỹ đầu tư giá trị Nemo - PVcom hoàn thành vòng gọi vốn ban đầu', link:'news/quy-dau-tu-gia-tri-nemo-pvcom-hoan-thanh-vong-goi-von-ban-dau.html', desc: 'Quỹ đầu tư giá trị Nemo - PVcom Merit Fund (NPMF) đã chính thức hoàn thành vòng gọi vốn ban đầu, đồng thời đặt mục tiêu huy động nguồn vốn lên tới 20 – 50 triệu USD từ các Nhà đầu tư Quốc tế trong năm 2022 và 2023.', image: 'assets/images/news/news-6.1.png', date: '22/02/2022'}]
        each item in articleType2List
          include /components/article-type2
          +articleType2(item.title, item.image, item.desc, true, item.link, item.date)
