extends /layouts/default

block title
  - const title = htmlWebpackPlugin.options.title
  title= title

block content
  include /components/breadcrumb
  +breadcrumb('news', 'banner02.png')

  .container
    .my-14
      h3.text-2xl.font-semibold Nemo-PVcom Merit Fund eyes int'l investors

      span.flex.items-center.mt-3
        i.icon.icon-calendar_today.mr-3
        span 23/02/2022

      p.my-5 Nemo-PVcom Merit Fund (NPMF) has completed its initial round of funding, aiming to up figures in 2022 and 2023 via global investors.

      p.mb-5 NPMF has a charter capital of VND51 billion ($2.2 million) at its inception and aims to raise an additional $20 - 50 million from investors in the Korean, Singaporean and Vietnamese markets in 2022 and 2023.

      p.mb-5 Based on their strategic cooperation frameworks and track records on portfolio management services and fund establishment, PVCB Capital and Nemo Partners seek to establish more investment channels and boost the real estate and energy projects of PetroVietnam, PVcomBank.

      p.mb-5 Nemo Partners Vietnam is a member of Nemo Partners, one of the largest investment and consulting firms in South Korea.

      .mx-auto(class='md:w-3/4')
        img.object-cover.c-transition.w-full(
          src='assets/images/news/news-6.1.png',
          alt='The capital contribution signing ceremony between PVCB Capital and Nemo Partners. Photo by PVCB Capital.'
        )
        p.mb-5.bg-gray-100.p-2 The capital contribution signing ceremony between PVCB Capital and Nemo Partners. Photo by PVCB Capital.

      p.mb-5 The NPMF fund is operated and managed by experienced experts of PVCB Capital.

      p.mb-5 The fund's objective is to generate stable and competitive profit compared to the market from investment and proprietary trading in stocks and bonds, with a focus on fixed income products including corporate bonds with collateral, payment guarantees, government bonds, and certificates of deposit.

      p.mb-5 Investment fields are diverse but will focus on real estate, infrastructure and green energy.

      p.mb-5 The founding members of NPMF include PVcomBank Fund Management JSC (PVCB Capital), Nemo Partners Vietnam Investment and Consulting Co., Ltd and international investors.

      p.mb-5 JPVCB Capital is a member of Vietnam Public Commercial Joint Stock Bank (PVcomBank), with assets under management of approximately $800 million, providing institutional and individual clients with various types of investment advisory services, fund management and portfolio management.

      .text-xl.font-semibold.pb-4.border-b-2 Other News
      section.grid.grid-cols-1.gap-5.my-8(class='md:grid-cols-2 lg:grid-cols-3 md:gap-10')
        - var articleType2List = [{ title:'Vietnamese athletes to get $1M bonus for Olympic gold medal', link:'/vietnamese-athletes-to-get-1m-bonus-for-olympic-gold-medal.html', desc: 'ny Vietnamese athlete winning a gold medal at the 2024 Olympic Games in France will get a bonus of $1 million.', image: 'assets/images/news/news-4.1.png', date: '02/02/2023'},{ title:'International Sports Strategy Foundation, Vietnam Olympic Committee collaborate in training', link:'/international-sports-strategy-foundation-vietnam-olympic-committee-collaborate-in-training.html', desc: 'The International Sports Strategy Foundation (ISF) will open an office in Vietnam, with assistance from Gemopia Investment Group, to boost sport training with Vietnam Olympic Committee.', image: 'assets/images/news/news-3.1.png', date: '09/12/2022'},{ title:'Nemo Partners introduces Korean spiritual gastronomy featuring revered chef Jeong Kwan', link:'/nemo-partners-introduces-korean-spiritual-gastronomy-featuring-revered-chef-jeong-kwan.html', desc: 'Culinary guide So Yeon Kim, Director at Nemo Partners, introduced the third year of Korean Gastronomy Week in Hanoi, in collaboration with the "Philosopher Chef" Jeong Kwan.', image: 'assets/images/news/news-5.1.png', date: '29/10/2022'}]
        each item in articleType2List
          include /components/article-type2
          +articleType2(item.title, item.image, item.desc, true, item.link, item.date)
