header.shadow-md
  .bg-white.border-b.hidden(class='md:block')
    .container.px-4.mx-auto.flex.items-center.py-2
      i.icon.icon-mail.icon-lg.mr-2.text-gray-500
      a.text-sm.text-gray-500.mr-5(href='mailto:example@gmail.com') example@gmail.com
      i.icon.icon-phone.icon-lg.mr-2.text-gray-500
      .text-sm.text-gray-500 0123456789
  .container.px-4.mx-auto.flex.justify-between.items-center.py-2
    a(href='/') 
      img.object-cover.pl-2(src='assets/logo.jpg', alt='logo', class='w-[60px] md:pl-0 md:w-[120px]')
    i#nav-btn.icon.icon-menu.icon-32.cursor-pointer.px-5.block(class='md:hidden')
    nav.hidden(class='md:flex')
      .mx-7
        a.font-medium.text-xl.uppercase.text-primary.transition-all(href='/', class='hover:text-primary') home
      .mx-7
        a.text-xl.uppercase.transition-all(href='/about-us.html', class='hover:text-primary') pages
      .mx-7
        a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') service
      .mx-7
        a.text-xl.uppercase.transition-all(href='/news.html', class='hover:text-primary') news
      .mx-7
        a.text-xl.uppercase.transition-all(href='/contact.html', class='hover:text-primary') contact

nav#nav-sp.fixed.top-0.bottom-0.transition-all.bg-white.z-50.p-5(class='-left-[300px] w-[300px] md:hidden')
  .flex.justify-end.mb-4
    i#nav-close-btn.icon.icon-close.icon-32.cursor-pointer
  .flex-col.flex.relative
    .mb-3
      a.font-medium.text-xl.uppercase.text-primary.transition-all(href='/', class='hover:text-primary') home
    .mb-3
      a.text-xl.uppercase.transition-all(href='/about-us.html', class='hover:text-primary') pages
    .mb-3
      a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') service
    .mb-3
      a.text-xl.uppercase.transition-all(href='/news.html', class='hover:text-primary') news
    .mb-3
      a.text-xl.uppercase.transition-all(href='/contact.html', class='hover:text-primary') contact
#backdrop.z-10.hidden.top-0.bottom-0.left-0.right-0(class='bg-black/50')
