header.shadow
  .container.flex.justify-between.mx-auto.items-center
    .flex
      .flex.items-center
        i.icon.icon-email.text-pink-100
        span.ml-2 webmaster@eportal.com.vn
      .flex.items-center.ml-2
        i.icon.icon-location_on.text-pink-100
        span.ml-2 Durham Street Hialeah, FL 33010
    nav.flex.items-center
      .mx-2.text-pink-100.flex.items-center
        a.text-lg.icon.icon-facebook(href='#')
      .mx-2.text-pink-100.flex.items-center
        a.text-lg.icon.icon-facebook(href='#')
      .mx-2.text-pink-100.flex.items-center
        a.text-lg.icon.icon-facebook(href='#')
      .mx-2.text-pink-100.flex.items-center
        a.text-lg.icon.icon-facebook(href='#')

  .container.flex.justify-between.mx-auto.items-center
    a(href='#') 
      img.object-cover(src='assets/logo.jpg', alt='logo', width='120')
    nav.flex
      .mx-7
        a.font-medium.text-xl.uppercase.text-primary.transition-all(href='#', class='hover:text-primary') home
      .mx-7
        a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') pages
      .mx-7
        a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') service
      .mx-7
        a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') news
      .mx-7
        a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') contact
