header.shadow.sticky.top-0
  .container.flex.justify-between.mx-auto.items-center
    a(href='#') 
      img.object-cover(src='assets/logo.jpg', alt='logo', width='120')
    nav.flex
      .mx-7
        a.font-medium.text-xl.uppercase.text-primary.transition-all(href='#', class='hover:text-primary') home
      .mx-7
        a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') pages
      .mx-7
        a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') service
      .mx-7
        a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') news
      .mx-7
        a.text-xl.uppercase.transition-all(href='#', class='hover:text-primary') contact
