<header class="bg-primary/90 relative">
  <div class="container mx-auto flex">
    <a href="#">
      <img src="~assets/images/logo.svg" alt="logo" />
    </a>

    <div class="flex-1">
      <div class="flex justify-end text-white text-body2 py-2.5 leading-none">
        <div class="flex items-center px-5 border-r border-white/50">
          <i class="icon icon-clock pr-2"></i>
          <span>Thời gian làm việc: Thứ 2 - Thứ 6: 08AM - 06PM</span>
        </div>
        <div class="flex items-center px-5 border-r border-white/50">
          <i class="icon icon-phone pr-2"></i>
          <span href="tel:+84 9876543210">+(84) 9876543210</span>
        </div>
        <div class="flex items-center px-5">
          <i class="icon icon-mail pr-2"></i>
          <a href="mailto:hoiAn@gmail.com">HoiAn@gmail.com</a>
        </div>
      </div>
    </div>
  </div>
</header>
