html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
    link(rel='canonical', href='https://asonginvest.com')
    meta(name='keywords', content='asonginvest, asong invest')
    meta(property='og:type', content='company')

    script(type='application/ld+json') {"@context": "https://schema.org", "@type": "Organization", "url": "http://asonginvest.com", "name": "Asong Invest", "contactPoint": {"@type": "ContactPoint","email": "office@asonginvest.com","contactType": "Customer service"}}

    block title
      title Document
    block metaDescription

  body.min-h-screen.flex.flex-col
    include /components/header

    main.flex-grow
      block content

    include /components/footer
