html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='google-site-verification', content='CY3r_evTiffOHSatMMvQKcD8UPQ8M9HYsbko9V94iXA')
    link(rel='icon', type='image/x-icon', href='assets/favicon.ico')
    link(rel='canonical', href='https://asonginvest.com')
    meta(name='keywords', content='asonginvest, asong invest')
    meta(property='og:type', content='company')

    block title
      title Document
    block metaDescription

  body.min-h-screen.flex.flex-col
    include /components/header

    main.flex-grow
      block content

    include /components/footer
